/* ****reset HTML**** */
html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*before,
*after{
  box-sizing: inherit;
}

body{
  margin:0;
  /* todo lo que se desborda en X se oculta */
  overflow-x: hidden;
  /* overflow-y: hidden */
}

img{
  max-width: 100%;
  height: auto;
}








.header{
  position: sticky;
  top:0;
  padding: 1rem;
  background-color: rgba(250, 197, 0, 0.85);
  width: 100%;
}
.header h1{
  margin: 0%;
  text-align: center;
}

.section{
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  text-align: center;
}
.section a{
  text-decoration: none;
  color: red
}

.container-main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* .container-menu{
  display: flex;
  justify-content: flex-end;
} */
.menu-btnOk{
  margin: 5px;
  border: none;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fac500;
  outline: 0;
}
.menu-btnOk:hover{
  background-color: #a88400;
}




.panel-menu{
  width: 100%;
}
.overlay{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #00000054;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  /* width: 85vw; */
  opacity: 0;
  transition: transform.4s ease, opacity 0.3s ease;
  transform: translate(-100%,0);
}
.overlay.is-active{
  transform: translate(0,0);
  opacity: 1;
}
.overlay a{
  display: flex;
  text-decoration: none;
  font-size: 40px;
  color: #fac500;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 102px;
  transition: all .3s ease;
}
.overlay a:hover{
  background-color: #a88400c2;
  color:black;
}


/* dijital Clock */
.clock{
  font-size: 20px;
  font-weight: bold;
}
.clock-btn{
  font-size: 20px;
  border: none;
  background-color: rgb(22 77 133);
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.clock-btn:hover{
  box-shadow: 0px 0px 5px 1px blue;
  cursor: pointer;
}


/* key-events */
.ball-container{
  background-color: grey;
  width: 90vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.ball{
  /* margin: auto; */
  width: 100px;
  height: 100px;
  background-color: #fac500;
  border-radius: 50%;
  /* transition: all.8s; */
}


/* Countdown */
.countdown{
  font-size: 20px;
  font-weight: bold;
}


/* scroll Button */
.home-btn{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fac500;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  bottom: 1vh;
  right: calc(4.24rem + 1vw);
  z-index: 999;
  font-size: 40px;
  outline: 0;
  transition: all .3s ease-out;
  cursor: pointer;
}
.home-btn:hover{
  background-color: #a88400;
  color: white;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}


/* Theme Button */
.theme{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fac500;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 0;
  position: fixed;
  bottom: 1vh;
  transition: all .3s ease-out;
}
.theme:hover{
  background-color: #a88400;
}
.dark-mode{
  background-color: #202020;
  color: white
}
.light-mode{
  background-color: #fff;
 color: black
}


/* network Status */
.connection-message{
  /* padding: 10px; */
  /* border: solid white 1px; */
}
.online, .offline{
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: green;
}

.offline{
  background-color: red;
}


/* Filtros de búsqueda */
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.card{
  /* display: inline-block; */
  background-color: gray;
  color: yellow;
  transition: all 0.3s ease-out;
}

.card figcaption{
  padding: 1rem;
}

.filter{
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}